html,
body {
  margin: 0;
  padding: 0; }

.header {
  height: 62px;
  line-height: 62px;
  border-bottom: 1px solid #666; }

.inlineB {
  display: inline-block; }

.img_logo {
  width: 150px;
  height: 40px; }

.outerWidth {
  max-width: 1000px;
  margin: 0 auto; }

.header_register,
.header_logo,
.header_find,
.header_list {
  float: right;
  margin: 0 5px 0 5px; }

.width_logo {
  width: 20px;
  display: inline-block; }

.marg_left {
  margin-left: 12px; }
